@model TrainingBee.Models.CourseDTO

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CourseDTO</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseFees)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseFees)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseDuration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseDuration)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
